{
    "presets" : ["stage-0", "es2015"],
    "plugins" : [
        "transform-runtime",
        "transform-es2015-spread",
        "transform-es2015-for-of",
        "transform-es2015-destructuring"
    ]
}